<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyCp1RFkfg83VbZNUoExp3f63N0lOAXkraU",
            authDomain: "vigourservice-2426b.firebaseapp.com",
            databaseURL: "https://vigourservice-2426b-default-rtdb.firebaseio.com",
            projectId: "vigourservice-2426b",
            storageBucket: "vigourservice-2426b.appspot.com",
            messagingSenderId: "559196423373",
            appId: "1:559196423373:web:c0516b94d9866559b45584",
            measurementId: "G-0ZBXCN1DQ6"
        };
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>


    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    Welcome
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="assets/img/logo/logo.png"  alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="#">Top Ratings</a></li>                                                                        
                                    <li><a href="#KnowMore">Know More</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li id="profile_photo">
                                        <ul class="submenu">                                            
                                            <li><a href="#">My Feedbacks</a></li>
                                            <li><a href="#">My Appointments</a></li>
                                            <li id="logout"></li>
                                        </ul>
                                    </li>                                    
                                </ul>
                            </nav>
                        </div>          
                    <!-- Header-btn -->
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>                   
<!-- Header End -->
</header>

<main>
    <!--? Hero Area Start-->
    <div class="slider-area hero-bg1 hero-overly">
        <div class="single-slider hero-overly  slider-height1 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <!-- Hero Caption -->
                        <div class="hero__caption ">
                            <h2 style="color: white; font-size: 5vh;">India's best online appointment scheduling platform!</h2>
                            <br>
                        </div>
                        <!--Hero form -->
                        <form action="#" class="search-box mb-100">
                            <div class="select-form">
                                <div class="select-itms">
                                    <select name="select" id="select1">
                                        <option value="">State</option>
                                        <option value="">Andhra Pradesh</option>
                                        <option value="">Gujarat</option>
                                        <option value="">Kerla</option>
                                        <option value="">Uttrakhand</option>
                                        <option value="">Uttar Pradesh</option>
                                    </select>
                                </div>
                            </div>
                            <div class="select-form">
                                <div class="select-itms">
                                    <select name="select" id="select1">
                                        <option value="">City</option>
                                        <option value="">Prayagraj</option>
                                        <option value="">Kanpr</option>
                                    </select>
                                </div>
                            </div>
                            <div class="select-form">
                                <div class="select-itms">
                                    <select name="select" id="select1">
                                        <option value="">Cateogy</option>
                                        <option value="">Physician</option>
                                        <option value="">Cardiologist</option>
                                    </select>
                                </div>
                            </div>
                            <div class="search-form" style="margin:0 auto;">
                                <br>
                                <a href="#"><i class="ti-search"></i> Search</a>
                            </div>
                        </form>	
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Hero Area End-->
    <!--? Popular Locations Start 01-->
    <div class="popular-location border-bottom section-padding40">
        <div class="container">
            <!-- Popular Locations End -->
            <!--? Popular Directory Start -->
            <div class="popular-directorya-area  border-bottom section-padding40 fix" id="TopDoctor">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Section Tittle -->
                            <div class="section-tittle text-center mb-80">
                                <h2>Top Doctors:</h2>
                                <p>Lets you know the top doctors appoinment .</p>
                            </div>
                        </div>
                    </div>
                    <div class="directory-active">
                        <!-- Single -->
                        <div class="properties pb-20">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a href="#"><img src="assets/images/t1.png" alt=""></a>
                                    <div class="icon">
                                        <img src="assets/img/gallery/categori_icon1.png" alt=""> 
                                    </div>
                                </div>
                                <div class="properties__caption">
                                    <h3><a href="#">Dr. S.k Joshi</a></h3>
                                    <p>Allahabad</p>
                                    <div class="img-text">
                                        <span style="font-size:100%;color:yellow;">&starf;&starf;&starf;&starf;&star;</span>
                                    </div>
                                </div>
                                <div class="properties__footer d-flex justify-content-between align-items-center">
                                    <div class="restaurant-name">
                                        <i class="fas fa-user-md"></i>
                                        <h3>Heart Doctor</h3>
                                    </div>
                                    <div class="heart">
                                        <img src="assets/img/gallery/heart1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single -->
                        <div class="properties pb-20">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a href="#"><img src="assets/images/t2.png" alt=""></a>
                                    
                                    <div class="icon">
                                        <img src="assets/img/gallery/categori_icon1.png" alt=""> 
                                    </div>
                                </div>
                                <div class="properties__caption">
                                    <h3><a href="#">Dr. Sumit Vannkey</a></h3>
                                    <p>kerla</p>
                                    <div class="img-text">
                                        <span style="font-size:100%;color:yellow;">&starf;&starf;&starf;&starf;&star;</span>
                                    </div>
                                </div>
                                <div class="properties__footer d-flex justify-content-between align-items-center">
                                    <div class="restaurant-name">
                                        <i class="fas fa-user-md"></i>
                                        <h3>Neurologist</h3>
                                    </div>
                                    <div class="heart">
                                        <img src="assets/img/gallery/heart1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single -->
                        <div class="properties pb-20">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a href="#"><img src="assets/images/t3.png" alt=""></a>
                                    
                                    <div class="icon">
                                        <img src="assets/img/gallery/categori_icon1.png" alt=""> 
                                    </div>
                                </div>
                                <div class="properties__caption">
                                    <h3><a href="#"></a>Dr.Aaron</h3>
                                    <p>Aadher Pradesh</p>
                                    <div class="img-text">
                                        <span style="font-size:100%;color:yellow;">&starf;&starf;&starf;&starf;&star;</span>
                                    </div>
                                </div>
                                <div class="properties__footer d-flex justify-content-between align-items-center">
                                    <div class="restaurant-name">
                                        <i class="fas fa-user-md"></i>
                                        <h3>Brain Tumer</h3>
                                    </div>
                                    <div class="heart">
                                        <img src="assets/img/gallery/heart1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single -->
                        <div class="properties pb-20">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a href="#"><img src="assets/images/t4.png" alt=""></a>
                                    <div class="icon">
                                        <a href="#"><img src="assets/img/gallery/categori_icon1.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="properties__caption">
                                    <h3><a href="#">Dr. Sanjay Singh</a></h3>
                                    <p>Lucknow</p>
                                    <div class="img-text">
                                        <span style="font-size:100%;color:yellow;">&starf;&starf;&starf;&starf;&star;</span>
                                    </div>
                                </div>
                                <div class="properties__footer d-flex justify-content-between align-items-center">
                                    <div class="restaurant-name">
                                        <i class="fas fa-user-md"></i>
                                        <h3>Cardiologist</h3>
                                    </div>
                                    <div class="heart">
                                        <img src="assets/img/gallery/heart1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--? Popular Directory End -->
            <!--? Want To work 01-->
            <section class="wantToWork-area" id="How">
                <div class="container">
                    <div class="wants-wrapper w-padding2">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-7 col-lg-9 col-md-8">
                                <div class="wantToWork-caption wantToWork-caption2">
                                    <h2>How to apply?</h2>
                                    <p>Steps for registering your clinic.</p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4">
                                <a href="#" class="btn f-right sm-left">Register Clinic Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Want To work End -->
            <!--? Our Services Start -->
            <div class="our-services  border-bottom">
                <div class="container">
                    <div class="row">
                        <div class=" col-lg-4 col-md-6 col-sm-6">
                            <div class="single-services mb-30">
                                <div class="services-ion">
                                    <span>01</span>
                                </div>
                                <div class="services-cap">
                                    <h5><a href="#">Go to <br><B>Register Clinic Now</b></a></h5>
                                    <p>It will take you to the register clinic page.</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6 col-sm-6">
                            <div class="single-services mb-30">
                                <div class="services-ion">
                                    <span>02</span>
                                </div>
                                <div class="services-cap">
                                    <h5><a href="#">Fill Details</a></h5>
                                    <p>Fill the form provided there with all the necessary details and <b>submit</b> it. After submit the provided details will get verified within a week.</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6 col-sm-6">
                            <div class="single-services mb-30">
                                <div class="services-ion">
                                    <span>03</span>
                                </div>
                                <div class="services-cap">
                                    <h5><a href="#">Verification</a></h5>
                                    <p>As details get verified you will recieve the email regarding Clinic Approved or not.<br>Once approved you can login into your clinic.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Our Services End -->
            
            <!--? Want To work 02-->
            <section class="wantToWork-area" id="KnowMore">
                <div class="container">
                    <div class="wants-wrapper w-padding2">
                        <div class="row justify-content-between">
                            <div class="col-xl-8 col-lg-8 col-md-7">
                                <div class="wantToWork-caption wantToWork-caption2">
                                    <img src="assets/img/logo/logo.png"  alt="" class="mb-20">
                                    <p>Users and clinics can connect with us. Clinics needed to register themselves from the Register Clinic button. Users can simply login into there portal and book their appintments with any number of patients from single login and take appointments.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-5">
                                <div class="footer-social f-right sm-left">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Want To work End -->
            <!--? Want To work 01-->
            <section class="wantToWork-area">
                <div class="container">
                    <div class="wants-wrapper">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-7 col-lg-9 col-md-8">
                                <div class="wantToWork-caption wantToWork-caption2">
                                    <div class="main-menu2">
                                        <nav>
                                            <ul>
                                                <li><a href="#">Search Doctor</a></li>
                                                <li><a href="#TopDoctor">Top Doctors Rating</a></li>
                                                <li><a href="#How">How to apply?</a></li> 
                                                <li><a href="contact.html">Contact Us</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4">
                                <a href="#How" class="btn f-right sm-left">Register Your Clinic</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Want To work End -->
        </main>
        <footer>
            <div class="footer-wrapper pt-30">
                <!-- footer-bottom -->
                <div class="footer-bottom-area">
                    <div class="container">
                        <div class="footer-border">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-xl-10 col-lg-9">
                                    <div class="footer-copy-right text-center">
                                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Vigour developers</a>
                                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Scroll Up -->
            <div id="back-top" >
                <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
            </div>

            <script type="text/javascript">  
                firebase.auth().onAuthStateChanged(function(user) {
                    if (user) {
                        document.getElementById("logout").innerHTML = "<a href='/logout'>Logout</a>";
                        var photo_url = user.photoURL;   
                        if(photo_url){                                            
                        document.getElementById("profile_photo").innerHTML += "<a href='/profile' class='mr-40'><img style='display: inline-block; border-radius: 60px; box-shadow: 0px 0px 3px #888; padding: 0.2em 0.2em;' height=40px width=40px src='"+photo_url+"'/></a>";
                        }else{
                            document.getElementById("profile_photo").innerHTML += "<a href='/authenticate' class='mr-40'><i class='ti-user' style='display: inline-block; border-radius: 60px; box-shadow: 0px 0px 3px #888; padding: 0.5em 0.6em;'></i></a>";
                        }   
                    } else {
                        document.getElementById("profile_photo").innerHTML += "<a href='/authenticate' class='mr-40'><i class='ti-user' style='display: inline-block; border-radius: 60px; box-shadow: 0px 0px 3px #888; padding: 0.5em 0.6em;'></i></a>";
                    }
                });
            </script> 

            <!-- JS here -->

            <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
            <!-- Jquery, Popper, Bootstrap -->
            <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
            <script src="./assets/js/popper.min.js"></script>
            <script src="./assets/js/bootstrap.min.js"></script>
            <!-- Jquery Mobile Menu -->
            <script src="./assets/js/jquery.slicknav.min.js"></script>

            <!-- Jquery Slick , Owl-Carousel Plugins -->
            <script src="./assets/js/owl.carousel.min.js"></script>
            <script src="./assets/js/slick.min.js"></script>
            <!-- One Page, Animated-HeadLin -->
            <script src="./assets/js/wow.min.js"></script>
            <script src="./assets/js/animated.headline.js"></script>
            <script src="./assets/js/jquery.magnific-popup.js"></script>

            <!-- Date Picker -->
            <script src="./assets/js/gijgo.min.js"></script>
            <!-- Nice-select, sticky -->
            <script src="./assets/js/jquery.nice-select.min.js"></script>
            <script src="./assets/js/jquery.sticky.js"></script>
            <!-- Progress -->
            <script src="./assets/js/jquery.barfiller.js"></script>

            <!-- counter , waypoint,Hover Direction -->
            <script src="./assets/js/jquery.counterup.min.js"></script>
            <script src="./assets/js/waypoints.min.js"></script>
            <script src="./assets/js/jquery.countdown.min.js"></script>
            <script src="./assets/js/hover-direction-snake.min.js"></script>

            <!-- contact js -->
            <script src="./assets/js/contact.js"></script>
            <script src="./assets/js/jquery.form.js"></script>
            <script src="./assets/js/jquery.validate.min.js"></script>
            <script src="./assets/js/mail-script.js"></script>
            <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

            <!-- Jquery Plugins, main Jquery -->	
            <script src="./assets/js/plugins.js"></script>
            <script src="./assets/js/main.js"></script>


        </body>
        </html>