<!DOCTYPE html>
<html lang="en">
<head>
	<title>Forgot password- Vigour</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->

	<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
	<script>
		var firebaseConfig = {
			apiKey: "AIzaSyCp1RFkfg83VbZNUoExp3f63N0lOAXkraU",
			authDomain: "vigourservice-2426b.firebaseapp.com",
			databaseURL: "https://vigourservice-2426b-default-rtdb.firebaseio.com",
			projectId: "vigourservice-2426b",
			storageBucket: "vigourservice-2426b.appspot.com",
			messagingSenderId: "559196423373",
			appId: "1:559196423373:web:c0516b94d9866559b45584",
			measurementId: "G-0ZBXCN1DQ6"
		};
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();
	</script>

	<script type="text/javascript">
		function signOut(){
		    firebase.auth().signOut().then(function() {
  			window.location.href="/";
		}, function(error) {
		  // An error happened.
		  console.log(error+"Can't log out.");
		});
		}
	</script>
</head>
<body onload="signOut()">
	 <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    Logging out
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
	                                  

<script src="./assets/js/main.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>