<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="address" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <%= csrf_meta_tags %>
    <!-- Title Page-->
    <title>Register clinic: Vigour</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="profile/style.css" rel="stylesheet">
    <link href="css/smain.css" rel="stylesheet" media="all">
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-database.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//geodata.solutions/includes/countrystatecity.js"></script>
  <script>
    var firebaseConfig = {
      apiKey: "AIzaSyCp1RFkfg83VbZNUoExp3f63N0lOAXkraU",
      authDomain: "vigourservice-2426b.firebaseapp.com",
      databaseURL: "https://vigourservice-2426b-default-rtdb.firebaseio.com",
      projectId: "vigourservice-2426b",
      storageBucket: "vigourservice-2426b.appspot.com",
      messagingSenderId: "559196423373",
      appId: "1:559196423373:web:c0516b94d9866559b45584",
      measurementId: "G-0ZBXCN1DQ6"
    };
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>

</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Clinic Registration Form</h2>
                    <hr>
                    <form id="registerClinic" onsubmit="return false;" ><br>
                    <div class="row row-space align-items-center justify-content-center">                        
                    <div class="col-lg-12">
                      <div class="circle text-center" style="font-size: 13rem;">
                        <!-- User Profile Image -->                
                        <img class="profile-pic" id="profile-pic" height="250" width="250" src="">                                        
                        <i class="fa fa-user" style="overflow: hidden; margin-right: 29px;    border-radius:100px; box-shadow: 3px 3px 5px  rgba(0,0,0,0.6);"></i>
                      </div>
                      <div class="p-image">                        
                        <i class="fa fa-camera upload-button rounded float-right"></i>
                        <input class="file-upload" id="profile_photo" name="profile_photo" type="file" accept="image/*"/>
                      </div>
                    </div> 

</div>
<div class="row row-space align-items-center justify-content-center">
                                    <label class="label">User Profile photo</label>
</div>                   
</br></br></br>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Name</label>
                                    <input class="input--style-4" required type="text" name="name" id="name">
                                </div>
                            </div>
                                <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Birthday</label>
                                    <div class="input-group">
                                        <input class="input--style-4 js-datepicker" required type="text" name="birthday" id="birthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                        </div>
                    </div>
                   <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" required name="email" id="email">
                                </div>
                            </div>
                            <div class="col-2">
                              <div class="input-group">
                                    <label class="label">Create Password</label>
                                    <input type="password" class="input--style-4" required name="pass" id="pass">
                                </div>
                            </div>
                            
                        </div>
                         <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Aadhar number</label>
                                    <input class="input--style-4" type="text" required name="aadhar" id="aadhar">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4" type="text" required="" name="phone" id="phone">
                                </div>
                            </div>  
                            
                        </div>  
                        <br><hr width="100%">  <br> 
                        <div class="row row-space text-center">
                            <h2 > Clinic Details</h2>
                        </div>     
                        <br>             
                        <div class="row row-space">
                        <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Clinic id</label>
                                    <input class="input--style-4" type="text" required name="clinic_id" id="clinic_id">
                                </div>
                            </div>
                        <div class="col-2">
                            <div class="input-group">
                                    <label class="label">Upload Clinic document </label>
                                    <input type="file" required name="clinic_doc" id="clinic_doc">
                                </div>
                        </div>
                        </div>
                        <div class="input-group">
                                    <label class="label">Clinic Address</label>                                    
                                    <textarea class="input--style-4" id="address" required name="address" id="address" rows="3" cols="65"></textarea>
                                </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Telephone/Mobile No.</label>
                                    <input class="input--style-4" type="tel" required name="telephone" id="telephone">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Website</label>
                                    <input class="input--style-4" type="text"  name="website" id="website">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Half days</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Monday
                                            <input type="checkbox" value="Monday" name="h_1" id="h_1">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container m-r-45">Tuesday
                                            <input type="checkbox" value="Tuesday" name="h_2" id="h_2">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container m-r-45">Wednesday
                                            <input type="checkbox" name="h_3" value="Wednesday" id="h_3">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container m-r-45">Thursday
                                            <input type="checkbox" name="h_4" value="Thursday" id="h_4">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container m-r-45">Friday
                                            <input type="checkbox" name="h_5" value="Friday" id="h_5">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container m-r-45">Saturday
                                            <input type="checkbox" name="h_6" value="Saturday" id="h_6">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container m-r-45">Sunday
                                            <input type="checkbox" name="h_7" value="Sunday" id="h_7">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Regular days</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Monday
                                            <input type="checkbox" value="Monday" name="f_1" id="f_1">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container m-r-45">Tuesday
                                            <input type="checkbox" value="Tuesday" name="f_2" id="f_2">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container m-r-45">Wednesday
                                            <input type="checkbox" name="f_3" value="Wednesday" id="f_3">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container m-r-45">Thursday
                                            <input type="checkbox" name="f_4" value="Thursday" id="f_4">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container m-r-45">Friday
                                            <input type="checkbox" name="f_5" value="Friday" id="f_5">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container m-r-45">Saturday
                                            <input type="checkbox" name="f_6" value="Saturday" id="f_6">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container m-r-45">Sunday
                                            <input type="checkbox" name="f_7" value="Sunday" id="f_7">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Half Day opening time</label>
                                    <input class="input--style-4" type="time" required name="h_o_t" id="h_o_t">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Half day closing time </label>
                                    <input class="input--style-4" type="time" required name="h_c_t" id="h_c_t">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Regular Day opening time</label>
                                    <input class="input--style-4" type="time" required name="f_o_t" id="f_o_t">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Regular Day closing time</label>
                                    <input class="input--style-4" type="time" required name="f_c_t" id="f_c_t">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-4">
                            <label class="label">Clinic Country</label>
                                <div class="input-group">
                            
                            <div class="rs-select2 js-select-simple">
                                <select required name="country" class="countries form-control" id="countryId">
                                    <option value="">Select Country</option>
                            </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                            </div>
                        <div class="col-4">
                            <label class="label">Clinic State</label>
                                <div class="input-group">
                            
                            <div class="rs-select2 js-select-simple">
                                <select name="state" class="states form-control" id="stateId" required>
    <option value="">Select State</option>
</select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                            </div>
                            <div class="col-4">
                            <label class="label">Clinic District</label>
                                <div class="input-group">
                            
                            <div class="rs-select2 js-select-simple">
                                <select required name="city" class="cities form-control" id="cityId">
    <option value="">Select City</option>
</select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                            </div>
                        </div>
                        </form>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--green" style="float: right;" form="registerClinic" onclick="Reg_Clinic(this)" 
                            type="submit">Submit</button>
                        </div>
                        <div class="p-t-15">
                            <a style="color: grey" class=" btn--radius-2" href="/" type="button">  <u>Back to homepage</u></a>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/sglobal.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var readURL = function(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }
                reader.readAsDataURL(input.files[0]);
                }
            }
            $(".file-upload").on('change', function(){
              readURL(this);
            });
            $(".upload-button").on('click', function() {
              $(".file-upload").click();
            });
        });
</script>
  <script type="text/javascript">

    function Reg_Clinic(data){      
        
        //Admin Details
         var name= $("#name").val();
      var photo= $("#profile_photo").val();
      var bday= $("#birthday").val();
      var email = $("#email").val();
      var passw=$("#pass").val();
      var phone = $("#phone").val();
      var aadhar=$("#aadhar").val();

      //Clinic Details
      var clinic_id=$("#clinic_id").val();
      var address=$("#address").val();
      var telephone=$("#telephone").val();
      var website=$("#website").val();
      
      var h_1="",h_2="",h_3="",h_4="",h_5="",h_6="",h_7="";
      var f_1="",f_2="",f_3="",f_4="",f_5="",f_6="",f_7="";

        if($("#h_1").is(":checked")){
            h_1=$("#h_1").val()+" ";
        }
      if($("#h_2").is(":checked")){
             h_2=$("#h_2").val()+" ";
        }
      if($("#h_3").is(":checked")){
             h_3=$("#h_3").val()+" ";
        }
      if($("#h_4").is(":checked")){
             h_4=$("#h_4").val()+" ";
        }
      if($("#h_5").is(":checked")){
             h_5=$("#h_5").val()+" ";
        }
      if($("#h_6").is(":checked")){
             h_6=$("#h_6").val()+" ";
        }
      if($("#h_7").is(":checked")){
             h_7=$("#h_7").val()+" ";
        }
      if($("#f_1").is(":checked")){
             f_1=$("#f_1").val()+" ";
        }
      if($("#f_2").is(":checked")){
             f_2=$("#f_2").val()+" ";
        }
      if($("#f_3").is(":checked")){
             f_3=$("#f_3").val()+" ";
        }
      if($("#f_4").is(":checked")){
             f_4=$("#f_4").val()+" ";
        }
      if($("#f_5").is(":checked")){
             f_5=$("#f_5").val()+" ";
        }
      if($("#f_6").is(":checked")){
             f_6=$("#f_6").val()+" ";
        }
      if($("#f_7").is(":checked")){
             f_7=$("#f_7").val()+" ";
        }
      
      var h_o_t=$("#h_o_t").val();
      var h_c_t=$("#h_c_t").val();
      var f_o_t=$("#f_o_t").val();
      var f_c_t=$("#f_c_t").val();

      var state=$("#stateId").val();
      var district=$("#cityId").val();

      var status=1;  
        
      if(email.length>0 && passw.length>0 && state.length>0 && district.length>0){
        //console.log(email+passw) ;
        firebase.auth().signOut();
        firebase.auth().createUserWithEmailAndPassword(email, passw).then((userCredential) => {
            // Signed in 
            var user = userCredential.user;
            //alert(user.uid);
            alert("Please wait. Do not close the page.");
            //update details to userInfo
            user.updateProfile({
                displayName: name,
                phoneNumber: phone
            }).catch(function(error) {
                console.log(error.message);
            });

            //update clinic details
            firebase.database().ref('/users/' + user.uid ).set({
                Approved:0,
                Clinic_id: clinic_id,
                DOB: bday,
                AadharNo: aadhar,
                Verified:0,
                Post:"Clinic_admin"
            }).then(function(){
                firebase.database().ref('/clinic/' + clinic_id ).set({
                    Full_address:address,
                    Status:status,
                    Telephone:telephone,
                    Website:website,
                    HalfDays:{
                        Days: h_1+h_2+h_3+h_4+h_5+h_6+h_7,
                        TimeOpen: h_o_t,
                        TimeClose: h_c_t
                    },
                    OpenDays:{
                        Days: f_1+f_2+f_3+f_4+f_5+f_6+f_7,
                        TimeOpen: f_o_t,
                        TimeClose: f_c_t
                    }
                }).then(function(){
                    firebase.database().ref('/Location/' + state + "/" + district).set({
                            Clinic_id:clinic_id
                    }).then(function(){
                        alert("Details submitted successfully.");
                        //reseting the form
                        $("#registerClinic")[0].reset();
                        $("#profile-pic").attr("src", "");
                    }).catch(function(error) {
                        console.log("addition failed: " + error.message)
                    });
                }).catch(function(error) {
                console.log("addition failed: " + error.message)
                });
            }).catch(function(error) {
                console.log("addition failed: " + error.message)
            });
        }).catch((error) => {
            var errorCode = error.code;
            var errorMessage = error.message;
            if (errorCode == 'auth/invalid-email') {
                alert('Email provided is invalid    .');
            } else if (errorCode == 'auth/weak-password') {
                alert('The password is too weak.');
            } else {
                alert(errorMessage);
            }
        });
            
        
      }else{
          return;
      }  
      /*firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                     // User is signed in.
                    //window.location.href = "admin.html"
                    alert(user.uid);
                } 
            });*/


        //Send Verification Link for user-email
            /*
            {
            var actionCodeSettings = {
            url: 'https://vigour.herokuapp.com/',
            iOS: {
              bundleId: 'com.example.Vigour'
            },
            android: {
              packageName: 'com.example.Vigour',
              installApp: true
            },
            handleCodeInApp: true
            };
            firebase.auth().currentUser.sendEmailVerification()
            .then(function() {
                // Verification email sent.
                alert("Email verification link is send to provided email. Click on the link to verify email.");
            })
            .catch(function(error) {
              // Error occurred. Inspect error.code.
            });*/
    }
  </script>

</body>

</html>
<!-- end document-->